:root {
    --brown-bg-color: #e6ccb2;
    --white-bg-color: #fcf7f4;
    --orange-bg-color: #fe7f2d;
    --black-bg-color: #242423;
    --red-bg-color: #d00000;
}

body {
    margin: 10vh auto;
}

button {
    position: relative;
    border-radius: 5px;
    border: none;
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    margin: calc(10% / 6) calc(10% / 6) calc(10% / 6) calc(10% / 6);
    padding: 0;
    filter: drop-shadow(0 5px 0 gray);
    -webkit-filter: drop-shadow(0 5px 0 gray);
    background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.1) );
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    filter: drop-shadow(0 2px 0 gray);
    -webkit-filter: drop-shadow(0 2px 0 gray);
    transition: translateY 0.1s ease-in-out;
    -webkit-transition: translateY 0.1s ease-in-out;
}

button:first-child {
    margin: calc(10% / 6) calc(10% / 6) calc(10% / 6) 0;
}

button:nth-child(2), button:nth-child(3) {
    margin: calc(10% / 6) calc(10% / 6) calc(10% / 6) calc(10% / 6);
}

button:last-child {
    margin: calc(10% / 6) 0 calc(10% / 6) calc(10% / 6);
}

.calc-container {
    background-color: var(--brown-bg-color);
    width: 340px;
    height: 520px;
    margin: 0 auto;
    border-radius: 5px;
    filter: drop-shadow(0 10px 0 gray);
}

.calc-body {
    position: relative;
    width: 92.5%;
    height: 490px;
    top: 15px;
    margin: 0 auto;
    background-color: var(--black-bg-color);
}

.calc-screen {
    position: relative;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid var(--brown-bg-color)
}

.calc-output {
    position: relative;
    top: 25px;
    width: 92.5%;
    text-align: right;
    margin: 0 calc(7.5% / 2) 0 calc(7.5% / 2);
    overflow-x: hidden;
}

.result {
    color: var(--red-bg-color);
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
}

.calc-buttons {
    width: 92.5%;
    margin: 15px auto;
    text-align: center;
}

.brown {
    background-color: var(--brown-bg-color);
}

.white {
    background-color: var(--white-bg-color);
}

.orange {
    background-color: var(--orange-bg-color);
}

.black {
    background-color: var(--black-bg-color);
}

.red {
    background-color: var(--red-bg-color);
}

.empty {
    visibility: hidden;
}

.square {
    width: 20%;
    height: 60px;
}

.rectangle {
    width: 95px;
    height: 60px;
}

.btn-row-1, .btn-row-2, .btn-row-3, .btn-row-4, .btn-row-5 {
    height: calc(335px / 5);
}

.btn-row-1, .btn-row-2, .btn-row-3, .btn-row-4 {
    margin-bottom: 5px;
}
